*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, li {
    padding: 0;
	 list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ////// */




h1 {
    color: aqua;
}









/* ====== Медиа 1140px ====== */
@media (max-width: 1140px) {
    h1 {
        color: rgb(255, 0, 106);
    }
}
/* ====== Медиа 1140px /====== */