@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../font/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../font/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../font/gilroy-regular.woff2") format("woff2"), url("../font/gilroy-regular.woff") format("woff"), url("../font/gilroy-regular.ttf") format("truetype"), url("../font/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*  ============ 500 ========== */
@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../font/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../font/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../font/gilroy-medium.woff2") format("woff2"), url("../font/gilroy-medium.woff") format("woff"), url("../font/gilroy-medium.ttf") format("truetype"), url("../font/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*  ============ 600 ========== */
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: local("../font/Gilroy Semibold"), local("Gilroy-Semibold"), url("../font/Gilroy-Semibold.woff2") format("woff2"), url("../font/Gilroy-Semibold.woff") format("woff"), url("../font/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*  ============ 700 ========== */
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../font/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../font/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../font/gilroy-bold.woff2") format("woff2"), url("../font/gilroy-bold.woff") format("woff"), url("../font/gilroy-bold.ttf") format("truetype"), url("../font/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*  ============ 800 ========== */
@font-face {
  font-family: 'Gilroy-Black';
  src: url("../font/gilroy-black.eot");
  /* IE 9 Compatibility Mode */
  src: url("../font/gilroy-black.eot?#iefix") format("embedded-opentype"), url("../font/gilroy-black.woff2") format("woff2"), url("../font/gilroy-black.woff") format("woff"), url("../font/gilroy-black.ttf") format("truetype"), url("../font/gilroy-black.svg#gilroy-black") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*  =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #143F6B;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  padding: 0;
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ========== общие классы  ==========  */
.rep-h3__red {
  font-family: 'Gilroy-SemiBold';
  font-size: 18px;
  line-height: 133.3333333333%;
  margin-bottom: 24px;
  color: #FF7E7F;
}

.rep-h2 {
  font-family: 'Gilroy-Bold';
  font-size: 44px;
  line-height: 131.8181818182%;
  color: #143F6B;
  margin-bottom: 30px;
}
.rep-h2 span {
  color: #FF595A;
}

.par-p {
  font-family: 'Gilroy-Regular';
  font-size: 18px;
  line-height: 133.3333333333%;
  color: #40566C;
}

/* ========== общие классы  / ==========  */
.header {
  padding: 40px 0 40px;
  background: #FEE4E5;
  min-height: 880px;
  align-items: center;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-block__menu {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header-ul {
  display: flex;
  align-items: center;
}

.item-li {
  color: #143F6B;
  margin-left: 50px;
}
.item-li a {
  font-family: 'Gilroy-Bold';
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #143F6B;
}
.item-li a:hover {
  color: #FF7E7F;
}

.item-li-active a {
  color: #FF595A;
}

.header-burger {
  position: relative;
  padding-right: 15px;
  width: 24px;
  display: none;
}
.header-burger span {
  width: 24px;
  height: 2px;
  background: #143F6B;
  position: absolute;
}
.header-burger span::before {
  position: absolute;
  content: '';
  top: 6px;
  width: 100%;
  height: 100%;
  background: #143F6B;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.header-burger span::after {
  position: absolute;
  content: '';
  bottom: 6px;
  width: 100%;
  height: 100%;
  background: #143F6B;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.burger-active span {
  width: 0px;
  height: 2px;
  background: #143F6B;
  position: absolute;
}
.burger-active span:before {
  position: absolute;
  content: '';
  top: -1px;
  width: 24px;
  height: 2px;
  background: #143F6B;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.burger-active span::after {
  position: absolute;
  content: '';
  bottom: 1px;
  width: 24px;
  height: 2px;
  background: #143F6B;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.header__grup-btn {
  margin-left: 30px;
}

.header-btn {
  font-family: 'Gilroy-Bold';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 18px 44px 19px;
  background: #FF595A;
  border-radius: 25px;
}
.header-btn:hover {
  background: #f9797a;
}

.header-main-block {
  display: flex;
  justify-content: space-between;
}

.header-info-left {
  max-width: 565px;
  margin-top: 140px;
}
.header-info-left h1 {
  max-width: 470px;
  margin: 0px 0 40px;
  font-family: 'Gilroy-Bold';
  font-size: 54px;
  line-height: 137.037037037%;
  color: #143F6B;
}
.header-info-left h1 span {
  color: #FF595A;
  display: block;
}

.header-info-rifht {
  background: url(../img/header/header-1-img.png) 0 0/cover no-repeat;
  height: 800px;
  position: absolute;
  min-width: 50%;
  right: 0;
}

.header-info-grup {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.btn-hed {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.btn-hed span {
  font-family: 'Gilroy-Regular';
  font-size: 18px;
  line-height: 24px;
  color: #FF7E7F;
}

.btn-hed-image {
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

/* ======== clients ======= */
.clients {
  padding: 60px 0 80px;
  background: #FEE4E5;
  min-height: 600px;
}
.clients h4 {
  font-family: 'Gilroy-Bold';
  font-size: 28px;
  line-height: 33px;
  color: #40566C;
  text-align: center;
  margin-bottom: 55px;
}

.clients-brend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px 40px;
}

.clients-solutions {
  display: flex;
  margin-top: 160px;
}

.clients-solutions__item-1 {
  display: flex;
  align-items: flex-end;
  width: 604px;
}

.clients-solutions__item-2 {
  margin-left: 100px;
  box-sizing: border-box;
  width: 475px;
}

.clients-block__item {
  display: flex;
  margin-bottom: 22px;
}

.clients-block__text span {
  display: inline-block;
  font-family: 'Gilroy-SemiBold';
  font-size: 18px;
  line-height: 24px;
  color: #40566C;
  font-weight: 600;
  max-width: 250px;
  margin-left: 20px;
}

.clients-block-btn {
  margin-top: 30px;
}

.clients-btn {
  display: inline-block;
  font-family: 'Gilroy-Bold';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 18px 44px 19px;
  background: #FF595A;
  border-radius: 25px;
}

/* ======== clients / ======= */
/* =========== Media =========== */
/* =========== Media =========== */
/* =========== Media =========== */
@media (max-width: 1600px) {
  .header {
    min-height: 780px;
  }
}
@media (max-width: 1200px) {
  .clients-solutions {
    flex-direction: column;
    margin-top: 70px;
  }

  .clients-solutions__item-1 {
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
  }

  .clients-solutions__item-2 {
    width: 100%;
    margin-left: 0;
  }

  .clients-block {
    display: flex;
    flex-wrap: wrap;
  }

  .clients-block__item {
    width: 330px;
    margin-right: 30px;
  }
}
@media (max-width: 992px) {
  .header {
    min-height: 680px;
  }

  .header__grup-btn {
    display: none;
  }

  .header-block__menu {
    position: absolute;
    top: 70px;
    display: none;
    background: #FEE4E5;
    height: 100vh;
    width: calc(100% + 20px);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 0px 4px;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    z-index: 2;
  }

  .header-ul {
    display: block;
    width: 100%;
  }

  .item-li {
    display: block;
    color: #143F6B;
    margin: 2px 0;
    background: #fcd1d1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .item-li a {
    display: block;
    padding: 20px 15px;
  }

  .header-burger {
    display: block;
  }

  .header-info-rifht {
    display: none;
  }

  .header-info-left {
    margin-top: 100px;
  }

  .clients {
    padding: 0px 0 80px;
  }

  .clients-brend {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .header {
    min-height: 550px;
    padding: 10px 0 40px;
  }

  .header-info-left h1 {
    font-size: 45px;
    margin: 0px 0 20px;
  }
}
@media (max-width: 400px) {
  .rep-h2 {
    font-size: 30px;
  }

  .header-info-left h1 {
    font-size: 35px;
    margin: 0px 0 15px;
  }

  .header-btn {
    font-size: 16px;
    padding: 12px 23px 12px;
  }

  .btn-hed {
    margin-left: 15px;
  }

  .btn-hed-image {
    margin-right: 15px;
  }

  .clients-solutions__item-1 {
    margin-bottom: 50px;
  }

  .clients-block__item {
    width: 100%;
    margin-right: 0px;
  }

  .clients-block__text span {
    max-width: 100%;
    margin-left: 15px;
  }
}
